@charset "UTF-8";
/*
Theme Name: joa_origin
Theme URI: http://www.othello.gr.jp/
Author: Japan Othello Association
Author URI: http://www.othello.gr.jp/
Description: 日本オセロ連盟サイトリニューアル専用テンプレート
Version: 1.0
License: all right reserved
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* variable mixin extend parts */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

/*tags  */
body {
  font-size: 14px;
  font-family: "Arial", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

a {
  color: #525252;
  text-decoration: none;
}

/* common parts */
.container {
  border-top: 4px solid #00A955;
  background-color: #fff;
  min-width: 1088px;
}

.contents {
  position: relative;
  padding-bottom: 110px;
}

header {
  width: 1028px;
  margin: 0 auto;
}
header h1 {
  float: left;
  width: 303px;
  height: 70px;
  margin-top: 5px;
  padding-right: 532px;
  background: url("http://www.othello.gr.jp/joa_renew/wp-content/themes/joa_origin/img/logo.png?ym56s3cy") 0 0 no-repeat;
}
header h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
header h1 span {
  visibility: hidden;
}
header .supplementInfo {
  float: left;
}
header .supplementInfo p {
  clear: both;
  padding-top: 20px;
  font-size: 12px;
  color: #999;
  text-align: right;
}
header .supplementInfo .loginBtn {
  display: block;
  position: relative;
  float: left;
  width: 150px;
  height: 40px;
  margin-left: 15px;
  background-color: #00A858;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 14px;
}
header .supplementInfo .loginBtn::after {
  visibility: visible;
  content: "";
  display: block;
  overflow: hidden;
  position: relative;
  left: 23px;
  right: -3px;
  top: -3px;
  bottom: auto;
  width: 102px;
  height: 20px;
  z-index: auto;
  background-image: url("http://www.othello.gr.jp/joa_renew/wp-content/themes/joa_origin/img/sprite.png?ym56s3cy");
  background-position: -147px -12px;
  background-repeat: no-repeat;
}
header .supplementInfo .loginBtn span {
  visibility: hidden;
}
header .share {
  float: left;
  margin-top: 10px;
}
header .share li {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("http://www.othello.gr.jp/joa_renew/wp-content/themes/joa_origin/img/sprite.png?ym56s3cy");
  background-position: 0 0;
  background-repeat: no-repeat;
}
header .share li.fb {
  background-position: -147px -106px;
}
header .share li.tw {
  background-position: -181px -106px;
}
header .share li.gp {
  background-position: -214px -106px;
}
header .share li a {
  display: block;
  width: 100%;
  height: 100%;
}
header .share li span {
  visibility: hidden;
}

nav.header {
  position: relative;
  width: 1028px;
  margin: 0 auto;
}
nav.header .globalMenu {
  margin-top: 23px;
}
nav.header .globalMenu::after {
  visibility: visible;
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
  left: auto;
  right: 0;
  top: 38px;
  bottom: auto;
  width: 1px;
  height: 20px;
  z-index: auto;
  background: url("http://www.othello.gr.jp/joa_renew/wp-content/themes/joa_origin/img/sprite.png?ym56s3cy") -265px -141px no-repeat;
}
nav.header .globalMenu > li {
  display: inline-block;
  position: relative;
  width: 170px;
  min-height: 100px;
}
nav.header .globalMenu > li::before {
  visibility: visible;
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
  left: auto;
  right: auto;
  top: 38px;
  bottom: auto;
  width: 1px;
  height: 20px;
  z-index: auto;
  background: url("http://www.othello.gr.jp/joa_renew/wp-content/themes/joa_origin/img/sprite.png?ym56s3cy") -265px -141px no-repeat;
}
nav.header .globalMenu > li::after {
  visibility: visible;
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
  left: auto;
  right: auto;
  top: auto;
  bottom: 21px;
  width: auto;
  height: auto;
  z-index: auto;
  background-image: url("http://www.othello.gr.jp/joa_renew/wp-content/themes/joa_origin/img/sprite.png?ym56s3cy");
  background-position: 0 0;
  background-repeat: no-repeat;
}
nav.header .globalMenu > li.about::after {
  left: 32px;
  width: 108px;
  height: 70px;
  background-position: -15px -22px;
}
nav.header .globalMenu > li.join::after {
  left: 55px;
  width: 60px;
  height: 63px;
  background-position: -39px -118px;
}
nav.header .globalMenu > li.conpetition::after {
  left: 35px;
  width: 102px;
  height: 68px;
  background-position: -18px -213px;
}
nav.header .globalMenu > li.block::after {
  left: 43px;
  width: 87px;
  height: 60px;
  background-position: -25px -309px;
}
nav.header .globalMenu > li.contact::after {
  left: 42px;
  width: 92px;
  height: 56px;
  background-position: -23px -404px;
}
nav.header .globalMenu > li.kids::after {
  left: 67px;
  width: 43px;
  height: 61px;
  background-position: -47px -483px;
}
nav.header .globalMenu > li > a {
  position: relative;
  display: block;
  width: 100%;
  min-height: 100px;
  z-index: 1;
}
nav.header .globalMenu > li span {
  visibility: hidden;
}
nav.header .globalMenu > li .disable {
  visibility: visible;
  display: block;
  position: absolute;
  left: 39px;
  top: 67px;
  width: 100px;
  height: 16px;
  background-image: url("http://www.othello.gr.jp/joa_renew/wp-content/themes/joa_origin/img/menu_disable.png?ym56s3cy");
  z-index: 1;
}

footer {
  background-color: #000;
}
footer > nav {
  position: relative;
  width: 960px;
  margin: 0 auto;
  color: #CECECE;
}
footer .menu > li {
  float: left;
  box-sizing: border-box;
  width: 310px;
  padding: 20px;
  border-left: 1px solid #262626;
}
footer .menu ul {
  margin-top: 15px;
}
footer .menu ul a {
  color: #868686;
}
footer .menu ul li {
  padding-bottom: 5px;
  font-size: 90%;
}
footer .menu ul li:last-child {
  padding-bottom: 0;
}
footer a[href="#top"] {
  display: block;
  position: absolute;
  right: 0;
  width: 54px;
  height: 54px;
  background: url("http://www.othello.gr.jp/joa_renew/wp-content/themes/joa_origin/img/sprite.png?ym56s3cy") -147px -43px no-repeat;
}

.copyright {
  padding: 15px 0;
}
.copyright p {
  width: 960px;
  margin: 0 auto;
  font-size: 90%;
}

.area {
  display: block;
  width: 62px;
  height: 22px;
  background-image: url("http://www.othello.gr.jp/joa_renew/wp-content/themes/joa_origin/img/sprite.png?ym56s3cy");
  background-color: #fff;
  background-repeat: no-repeat;
}
.area.tokyo {
  background-position: -147px -170px;
}
.area.chubu {
  background-position: -211px -170px;
}
.area.kanagawa {
  background-position: -147px -193px;
}
.area.niigata {
  background-position: -211px -193px;
}
.area.higashi_kantou {
  background-position: -147px -216px;
}
.area.hokuriku_kinki {
  background-position: -211px -216px;
}
.area.ibaraki {
  background-position: -147px -239px;
}
.area.hyogo {
  background-position: -211px -239px;
}
.area.touhoku {
  background-position: -147px -262px;
}
.area.chu_shikoku {
  background-position: -211px -262px;
}
.area.toukai {
  background-position: -147px -285px;
}
.area.kyushu {
  background-position: -211px -285px;
}
.area.kita_kantou {
  background-position: -147px -308px;
}
.area.hokkaido {
  background-position: -211px -308px;
}

.sidebar {
  float: left;
  width: 330px;
}
.sidebar .bannerList figure {
  margin: 15px 0;
}

.articleList {
  float: left;
  position: relative;
  width: 502px;
  margin-right: 20px;
  background-color: #fff;
}
.articleList:last-of-type {
  margin-right: 0;
}
.articleList > h1 {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #D5D5D5;
  font-size: 1.2em;
  font-weight: bold;
}
.articleList > h1::after {
  visibility: visible;
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: auto;
  top: auto;
  bottom: 0;
  width: 100px;
  height: 3px;
  z-index: auto;
  background-color: #249C46;
}
.articleList .article li {
  min-height: 100px;
  color: #525252;
  border-bottom: 1px dashed #D5D5D5;
}
.articleList .article li a {
  display: block;
  padding: 15px 0;
}
.articleList .article .area {
  display: table-cell;
}
.articleList .article .data {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}
.articleList .article p {
  margin-top: 10px;
  line-height: 1.4;
}
.articleList a.moreLink {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
  height: 46px;
}
.articleList a.moreLink::after {
  visibility: visible;
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
  left: 13px;
  right: auto;
  top: 18px;
  bottom: auto;
  width: 40px;
  height: 12px;
  z-index: auto;
  background-image: url("http://www.othello.gr.jp/joa_renew/wp-content/themes/joa_origin/img/sprite.png?ym56s3cy");
  background-position: -147px -145px;
}
.articleList.topics, .articleList.information, .articleList.column {
  float: left;
  box-sizing: border-box;
  width: 330px;
  border: 1px solid #d5d5d5;
}
.articleList.topics > h1, .articleList.information > h1, .articleList.column > h1 {
  margin-right: 76px;
  padding-left: 10px;
}
.articleList.topics > h1::after, .articleList.information > h1::after, .articleList.column > h1::after {
  left: 0;
}
.articleList.topics .article li, .articleList.information .article li, .articleList.column .article li {
  padding: 0 15px;
}
.articleList.topics .article li:last-child, .articleList.information .article li:last-child, .articleList.column .article li:last-child {
  border-bottom: 0 none;
}
.articleList.topics a.moreLink, .articleList.information a.moreLink, .articleList.column a.moreLink {
  width: 76px;
  height: 47px;
  right: -1px;
  top: -1px;
  border: 1px solid #d5d5d5;
}
.articleList.information .article li a {
  padding: 19px 0;
}
.articleList.information .article .data {
  padding-left: 0;
}
.articleList.special {
  float: none;
  width: 330px;
  background-color: #040404;
  color: #fff;
}
.articleList.special > h1 {
  padding-left: 10px;
  border-bottom: 1px solid #1A1A1A;
  font-weight: normal;
}
.articleList.special > h1::after {
  left: 0;
}
.articleList.special .article li {
  padding: 0 15px;
}
.articleList.special .article li:not(:last-child) {
  border-bottom: 1px solid #1A1A1A;
}
.articleList.special .article li:last-child {
  border-bottom: 0 none;
}
.articleList.special .article li a {
  color: #fff;
}
.articleList.special .article li .specialImg,
.articleList.special .article li .specialStr {
  float: left;
}
.articleList.special .article li .specialStr {
  width: 200px;
  margin-left: 10px;
}
.articleList.special .article li .specialStr.no_image {
  width: 100%;
  margin-left: 0;
}
.articleList.special .article .data {
  display: block;
  padding-left: 0;
}
.articleList.special a.moreLink {
  border: 1px solid #1A1A1A;
}
.articleList.column {
  margin: 15px 0;
}
.articleList.column .article li a {
  padding: 19px 0;
}
.articleList.column .article .data {
  padding-left: 0;
}
.articleList.blockInfo {
  box-sizing: border-box;
  width: 330px;
  margin: 15px 0;
  border: 1px solid #d5d5d5;
}
.articleList.blockInfo > h1 {
  padding-left: 15px;
}
.articleList.blockInfo > article {
  padding: 15px;
}
.articleList.blockInfo > article > p {
  margin-bottom: 1.1em;
}
.articleList.blockInfo > article > p:last-of-type, .articleList.blockInfo > article > p:only-of-type {
  margin-bottom: 0;
}
.articleList.blockInfo > article a {
  color: #1FB36C;
}

.pager {
  border-width: 1px 0;
  border-style: solid;
  border-color: #D5D5D5;
}
.pager a[href] {
  color: #29B064;
}
.pager li {
  position: relative;
  display: inline-block;
  width: 512px;
}
.pager li a {
  display: block;
  padding: 25px 0;
}
.pager .prev a[href]::before,
.pager .next a[href]::after {
  visibility: visible;
  content: "";
  display: inline-block;
  overflow: hidden;
  position: relative;
  left: auto;
  right: auto;
  top: 3px;
  bottom: auto;
  width: 9px;
  height: 16px;
  z-index: auto;
  background-image: url("http://www.othello.gr.jp/joa_renew/wp-content/themes/joa_origin/img/sprite.png?ym56s3cy");
  background-position: -225px -143px;
}
.pager .prev a[href]::before {
  margin-right: 15px;
}
.pager .next a[href] {
  text-align: right;
}
.pager .next a[href]::after {
  margin-left: 15px;
  background-position: -242px -143px;
}

.popupMenu {
  display: none;
  position: absolute;
  left: 5px;
  top: 90px;
  width: 160px;
  height: auto;
  background-color: #fff;
  border: 3px solid #10a75a;
  z-index: 2;
}
.popupMenu::after, .popupMenu::before {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: 100%;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
}
.popupMenu::after {
  margin-left: -5px;
  border-width: 5px;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
}
.popupMenu::before {
  margin-left: -9px;
  border-width: 9px;
  border-color: rgba(16, 167, 90, 0);
  border-bottom-color: #10a75a;
}
.popupMenu li {
  position: relative;
  width: 100% !important;
  height: auto !important;
  border-bottom: 1px dashed #d5d5d5;
}
.popupMenu li::before {
  background: transparent !important;
}
.popupMenu li:last-child {
  border-bottom: 0 none;
}
.popupMenu li a {
  display: block;
  box-sizing: border-box;
  height: auto !important;
  padding: 8px 8px 8px 20px;
  color: #29B064;
}
.popupMenu li a::before {
  visibility: visible;
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
  left: 8px;
  right: auto;
  top: 50%;
  bottom: auto;
  width: 6px;
  height: 11px;
  z-index: auto;
  margin-top: -5px;
  background-image: url("http://www.othello.gr.jp/joa_renew/wp-content/themes/joa_origin/img/sprite.png?ym56s3cy");
  background-position: -196px -145px;
  background-repeat: no-repeat;
}

.wp_social_bookmarking_light {
  border: 0 !important;
  padding: 10px 0 20px 0 !important;
  margin: 0 !important;
}
.wp_social_bookmarking_light div {
  float: left !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 5px 0px 0 !important;
  min-height: 30px !important;
  line-height: 18px !important;
  text-indent: 0 !important;
}
.wp_social_bookmarking_light img {
  border: 0 !important;
  padding: 0;
  margin: 0;
  vertical-align: top !important;
}

.wp_social_bookmarking_light_clear {
  clear: both !important;
}

#fb-root {
  display: none;
}

.wsbl_twitter {
  width: 69px;
}

.wsbl_facebook_like iframe {
  width: 118px !important;
  max-width: none !important;
}

/* purpose parts */
#top.contents {
  background: url("http://www.othello.gr.jp/joa_renew/wp-content/themes/joa_origin/img/content_bg.jpg?ym56s3cy") 50% 0 repeat-x #FAF7F9;
}
#top .slideContent {
  position: relative;
  top: 15px;
  width: 1027px;
  height: 400px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 5px solid #fff;
}
#top .slideContent .slideInner {
  position: relative;
  width: 1017px;
  height: 390px;
  overflow: hidden;
}
#top .slideContent .slideInner ul {
  position: absolute;
  left: 0;
  top: 0;
}
#top .slideContent .slideInner li {
  display: inline-block;
  position: relative;
  width: 1017px;
  height: 390px;
}
#top .slideContent .slideInner li:not(:first-child) {
  margin-left: -4px;
}
#top .slideContent .slideInner li p {
  position: absolute;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 1017px;
  height: 55px;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 2em;
  color: #fff;
  line-height: 55px;
}
#top .slideContent .slideInner li .data {
  display: block;
  float: left;
  margin: 0 15px 0 0;
  font-size: 0.5em;
}
#top .slideContent .prev,
#top .slideContent .next {
  display: block;
  width: 30px;
  height: 60px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  background-image: url("http://www.othello.gr.jp/joa_renew/wp-content/themes/joa_origin/img/sprite.png?ym56s3cy");
  background-repeat: no-repeat;
}
#top .slideContent .prev {
  left: -35px;
  background-position: -148px -506px;
}
#top .slideContent .next {
  right: -35px;
  background-position: -185px -506px;
}
#top .slideContent .slidePagiNation {
  height: 15px;
  margin-top: 15px;
  text-align: center;
}
#top .slideContent .slidePagiNation a {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-image: url("http://www.othello.gr.jp/joa_renew/wp-content/themes/joa_origin/img/sprite.png?ym56s3cy");
  background-repeat: no-repeat;
  background-position: -260px -96px;
}
#top .slideContent .slidePagiNation a.current {
  background-position: -261px -119px;
}
#top .mainArticle {
  margin-top: 50px;
  padding: 10px 0 25px;
  background-color: #fff;
  border-bottom: 1px solid #D5D5D5;
}
#top .mainArticleInner {
  width: 1028px;
  margin: 0 auto;
}
#top .subArticle {
  width: 1028px;
  margin: 18px auto 0;
}
#top .subArticleMain {
  float: left;
}
#top .subArticleMain {
  width: 680px;
  margin-right: 18px;
}
#top .blockInfo {
  position: relative;
  box-sizing: border-box;
  width: 680px;
  height: 467px;
  margin-bottom: 18px;
  border: 1px solid #D5D5D5;
  background-color: #fff;
}
#top .blockInfo > h1 {
  position: absolute;
  width: 140px;
  height: 50px;
  padding: 15px 0 15px 20px;
  font-size: 1.2em;
  font-weight: bold;
}
#top .blockInfo > h1::after {
  visibility: visible;
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: auto;
  top: 46px;
  bottom: auto;
  width: 140px;
  height: 3px;
  z-index: auto;
  background-color: #249C46;
}

.contents:not(#top) {
  border-top: 1px solid #D5D5D5;
  background-color: #FAF7F9;
}
.contents:not(#top) .mainArticle {
  width: 1028px;
  margin: 0 auto;
}
.contents:not(#top) .mainArticle > h1 {
  position: relative;
  padding: 40px 0 15px;
  border-bottom: 1px solid #D5D5D5;
  font-size: 1.7em;
  font-weight: bold;
}
.contents:not(#top) .mainArticle > h1::after {
  visibility: visible;
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: auto;
  top: auto;
  bottom: 0;
  width: 160px;
  height: 3px;
  z-index: auto;
  background-color: #249C46;
}
.contents:not(#top) .mainArticle > h1 .date {
  display: inline-block;
  padding-left: 20px;
  color: #36B36A;
  font-size: 14px;
  font-weight: normal;
}
.contents:not(#top) .single {
  margin-top: 30px;
}
.contents:not(#top) .single a {
  color: #29B064;
}
.contents:not(#top) .single h2 {
  position: relative;
  border: 1px solid #D5D5D5;
  color: #262626;
}
.contents:not(#top) .single h2 .title {
  display: block;
  padding: 15px;
  border-left: 3px solid #249C46;
  background-color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}
.contents:not(#top) .single h2 .date {
  position: absolute;
  right: 15px;
  top: 50%;
  width: 200px;
  margin-top: -7px;
  text-align: right;
}
.contents:not(#top) .single aside {
  padding: 20px 0;
  border-bottom: 1px solid #D5D5D5;
  color: #A3A3A3;
}
.contents:not(#top) .single .articleBody {
  margin: 25px 0;
  color: #515151;
}
.contents:not(#top) .list {
  margin-top: 30px;
}
.contents:not(#top) .list a {
  color: #29B064;
}
.contents:not(#top) .list li {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #D5D5D5;
}
.contents:not(#top) .list li:last-child {
  margin-bottom: 60px;
}
.contents:not(#top) .list li a {
  position: relative;
  display: block;
  padding: 20px;
  background-color: #fff;
  color: #1F1F1F;
}
.contents:not(#top) .list li a::before {
  visibility: visible;
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
  left: auto;
  right: 20px;
  top: 50%;
  bottom: auto;
  width: 9px;
  height: 16px;
  z-index: auto;
  margin-top: -7px;
  background-image: url("http://www.othello.gr.jp/joa_renew/wp-content/themes/joa_origin/img/sprite.png?ym56s3cy");
  background-position: -209px -143px;
  background-repeat: no-repeat;
}
.contents:not(#top) .list li a:hover {
  background-color: #45B768;
  color: #fff;
}
.contents:not(#top) .list li a:hover::before {
  background-position: -254px -143px;
}
.contents:not(#top) .list .area {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -10px;
}
.contents:not(#top) .list dl {
  margin-left: 70px;
}
.contents:not(#top) .list dt,
.contents:not(#top) .list dd {
  display: table-cell;
}
.contents:not(#top) .list dt {
  width: 220px;
  vertical-align: middle;
}
.contents:not(#top) .list dd {
  width: 670px;
  font-size: 1.3em;
}
.contents:not(#top) .list.information dl {
  margin-left: 0;
}

#frontpage .mainArticle {
  margin-top: 40px !important;
}
#frontpage .articleLeft {
  float: left;
  width: 680px;
  margin-right: 18px;
}
#frontpage .articleLeft > h1 {
  position: relative;
  margin-bottom: 15px;
  padding: 0 0 15px;
  border-bottom: 1px solid #D5D5D5;
  font-size: 1.7em;
  font-weight: bold;
}
#frontpage .articleLeft > h1::after {
  visibility: visible;
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: auto;
  top: auto;
  bottom: 0;
  width: 160px;
  height: 3px;
  z-index: auto;
  background-color: #249C46;
}
#frontpage .articleListWrapper {
  margin-top: 20px;
}
#frontpage .articleListWrapper .articleList {
  box-sizing: border-box;
  width: 330px;
  border: 1px solid #D5D5D5;
}
#frontpage .articleListWrapper .articleList > h1 {
  padding-left: 10px;
}
#frontpage .articleListWrapper .articleList li {
  padding: 0 15px;
}
#frontpage .articleListWrapper .articleList li:last-child {
  border-bottom: 0 none;
}
#frontpage .articleListWrapper .articleList a.moreLink {
  width: 76px;
  height: 47px;
  right: -1px;
  top: -1px;
  border: 1px solid #d5d5d5;
}
#frontpage .articleBody {
  padding: 20px;
  border: 1px solid #D5D5D5;
  background-color: #fff;
  color: #525252;
  /*
  > h2{
  	margin-bottom:20px;
  	padding:10px;
  	border-left:3px solid #249C46;
  	border-bottom:1px dashed #D5D5D5;
  	color:#262626;
  	font-size:1.2em;
  	font-weight:bold;
  }
  */
}

#special .list li {
  position: relative;
  padding: 20px;
  background-color: #fff;
}
#special .list li h2 {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #D5D5D5;
  font-size: 1.2em;
  color: #2B8D28;
}
#special .list li .thumb {
  float: left;
  width: 150px;
}
#special .list li .articleBody {
  float: left;
  width: 806px;
  padding: 0 0 0 20px;
}
#special .list li .articleBody p {
  height: 90px;
  overflow: hidden;
}
#special .list li .articleBody a,
#special .list li .articleBody a:hover {
  width: 90px;
  padding: 15px;
  background-color: #45B768;
  color: #fff;
}
#special .list li .articleBody a {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
#special .list li .articleBody a::before {
  right: auto;
  background-position: -254px -143px;
}
#special .list li .articleBody a span {
  padding-left: 15px;
}
#special .list li .articleBody.no_image {
  float: none;
  width: 100%;
  height: 150px;
  padding-left: 0;
}

/* editor style */
.mainArticle .articleBody {
  line-height: 1.6;
}
.mainArticle .articleBody h1, .mainArticle .articleBody h2, .mainArticle .articleBody h3, .mainArticle .articleBody h4, .mainArticle .articleBody h5, .mainArticle .articleBody h6 {
  margin: 0 0 30px;
  padding: 10px;
  border-left: 3px solid #02A858;
  border-bottom: 1px dashed #DDD;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.mainArticle .articleBody a {
  color: #1FB36C;
}
.mainArticle .articleBody p {
  margin-bottom: 1.6em;
}
.mainArticle .articleBody p:last-of-type {
  margin-bottom: 0;
}
.mainArticle .articleBody p + h1,
.mainArticle .articleBody p + h2,
.mainArticle .articleBody p + h3,
.mainArticle .articleBody p + h4,
.mainArticle .articleBody p + h5,
.mainArticle .articleBody p + h6 {
  margin-top: 30px;
}
.mainArticle .articleBody table {
  margin-bottom: 1.6em;
}
.mainArticle .articleBody pre {
  display: block;
  margin: 1.6em 0;
  word-wrap: break-word;
  font-family: 'Osaka−等幅','ＭＳ ゴシック','monospace';
}
.mainArticle .articleBody pre code {
  display: block;
  margin: 0 1.6em;
  padding: 1.6em;
  background-color: #FAFAFA;
  border: 1px solid #BBB;
  list-style: decimal outside;
  font-family: "Courier New", Courier, monospace;
}
.mainArticle .articleBody pre:last-child, .mainArticle .articleBody pre:only-child {
  margin-bottom: 0;
}
.mainArticle .articleBody blockquote {
  margin: 1.6em 0;
  padding: 1.6em;
  background-color: #F0F0F0;
}
.mainArticle .articleBody blockquote:last-child, .mainArticle .articleBody blockquote:only-child {
  margin-bottom: 0;
}
.mainArticle .articleBody strong, .mainArticle .articleBody b {
  font-weight: bold;
}
.mainArticle .articleBody em {
  font-style: italic;
}
.mainArticle .articleBody ul, .mainArticle .articleBody ol {
  margin-left: 20px;
}
.mainArticle .articleBody table {
  border: 1px solid #CBCBCB;
}
.mainArticle .articleBody table th, .mainArticle .articleBody table td {
  padding: 5px;
  border: 1px solid #CBCBCB;
}
.mainArticle .articleBody aside {
  margin: 1.6em 0 1.6em 1.6em;
  padding: 0.5em 1em;
  border-left: 3px solid #F0F0F0;
}
.mainArticle .articleBody aside:last-child, .mainArticle .articleBody aside:only-child {
  margin-bottom: 0;
}
