@charset "utf-8";
/*
Theme Name: joa_origin
Theme URI: http://www.othello.gr.jp/
Author: Japan Othello Association
Author URI: http://www.othello.gr.jp/
Description: 日本オセロ連盟サイトリニューアル専用テンプレート
Version: 1.0
License: all right reserved
*/
@import "compass";
@import "compass/reset";

/* variable mixin extend parts */
$img_hash:ym56s3cy;
$img_base_url:'http://www.othello.gr.jp/joa_renew/wp-content/themes/joa_origin';
@mixin pseudoElements($widthSize,$heightSize,$position:relative,$offset_left:auto,$offset_right:auto,$offset_top:auto,$offset_bottom:auto,$z_index:auto,$displayMode:block){
	visibility:visible;
	content:"";
	display:$displayMode;
	overflow:hidden;
	position:$position;
	left:$offset_left;
	right:$offset_right;
	top:$offset_top;
	bottom:$offset_bottom;
	width:$widthSize;
	height:$heightSize;
	z-index:$z_index;
}

.clearfix::after{
	content:"";
	display:block;
	clear:both;
	overflow:hidden;
}
.hide{
	display:none;
}
.invisible{
	visibility:hidden;
}

/*tags  */
body{
	font-size:14px;
	font-family: "Arial", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
a{
	color:#525252;
	text-decoration:none;
}

/* common parts */
.container{
	border-top:4px solid #00A955;
	background-color:#fff;
	min-width:1088px;
}
.contents{
	position:relative;
	padding-bottom:110px;
}
// 共通header
header{
	width:1028px;
	margin:0 auto;
	h1{
		float:left;
		width:303px;
		height:70px;
		margin-top:5px;
		padding-right:532px;
		background:url('#{$img_base_url}/img/logo.png?#{$img_hash}') 0 0 no-repeat;
		a{
			display:block;
			width:100%;
			height:100%;
		}
		span{ visibility:hidden; }
	}
	.supplementInfo{
		float:left;
		p{
			clear:both;
			padding-top:20px;
			font-size:12px;
			color:#999;
			text-align:right;
		}
		.loginBtn{
			display:block;
			position:relative;
			float:left;
			width:150px;
			height:40px;
			margin-left:15px;
			background-color:#00A858;
			color:#fff;
			text-decoration:none;
			text-align:center;
			line-height:14px;
			&::after{
				@include pseudoElements(102px,20px,relative,23px,-3px,-3px);
				background-image:url('#{$img_base_url}/img/sprite.png?#{$img_hash}');
				background-position:-147px -12px;
				background-repeat:no-repeat;
			}
			span{
				visibility:hidden;
			}
		}
	}
	.share{
		float:left;
		margin-top:10px;
		li{
			display:inline-block;
			width:27px;
			height:27px;
			background-image:url('#{$img_base_url}/img/sprite.png?#{$img_hash}');
			background-position:0 0;
			background-repeat:no-repeat;
			&.fb{ background-position:-147px -106px; }
			&.tw{ background-position:-181px -106px; }
			&.gp{ background-position:-214px -106px; }
			a{
				display:block;
				width:100%;
				height:100%;
			}
			span{ visibility:hidden; }
		}
	}
}
// header直下nav
nav.header{
	position:relative;
	width:1028px;
	margin:0 auto;
	.globalMenu{
		margin-top:23px;
		&::after{
			@include pseudoElements(1px,20px,absolute,auto,0,38px,auto);
			background:url('#{$img_base_url}/img/sprite.png?#{$img_hash}') -265px -141px no-repeat;
		}
		> li{
			display:inline-block;
			position:relative;
			width:170px;
			min-height:100px;
			&::before{
				@include pseudoElements(1px,20px,absolute,auto,auto,38px,auto);
				background:url('#{$img_base_url}/img/sprite.png?#{$img_hash}') -265px -141px no-repeat;
			}
			&::after{
				@include pseudoElements(auto,auto,absolute,auto,auto,auto,21px);
				background-image:url('#{$img_base_url}/img/sprite.png?#{$img_hash}');
				background-position:0 0;
				background-repeat:no-repeat;
			}
			&.about::after{
				left:32px;
				width:108px;
				height:70px;
				background-position:-15px -22px;
			}
			&.join::after{
				left:55px;
				width:60px;
				height:63px;
				background-position:-39px -118px;
			}
			&.conpetition::after{
				left:35px;
				width:102px;
				height:68px;
				background-position:-18px -213px;
			}
			&.block::after{
				left:43px;
				width:87px;
				height:60px;
				background-position:-25px -309px;
			}
			&.contact::after{
				left:42px;
				width:92px;
				height:56px;
				background-position:-23px -404px;
			}
			&.kids::after{
				left:67px;
				width:43px;
				height:61px;
				background-position:-47px -483px;
			}
			> a{
				position:relative;
				display:block;
				width:100%;
				min-height:100px;
				z-index:1;
			}
			span{
				visibility:hidden;
			}
			.disable{
				visibility:visible;
				display:block;
				position:absolute;
				left:39px;
				top:67px;
				width:100px;
				height:16px;
				background-image:url("#{$img_base_url}/img/menu_disable.png?#{$img_hash}");
				z-index:1;
			}
		}
	}
}
footer{
	background-color:#000;
	> nav{
		position:relative;
		width:960px;
		margin:0 auto;
		color:#CECECE;
	}
	.menu{
		> li{
			float:left;
			box-sizing:border-box;
			width:310px;
			padding:20px;
			border-left:1px solid #262626;
		}
		ul{
			margin-top:15px;
			a{
				color:#868686;
			}
			li{
				padding-bottom:5px;
				font-size:90%;
				&:last-child{
					padding-bottom:0;
				}
			}
		}
	}
	a[href="#top"]{
		display:block;
		position:absolute;
		right:0;
		width:54px;
		height:54px;
		background:url('#{$img_base_url}/img/sprite.png?#{$img_hash}') -147px -43px no-repeat;
	}
}
.copyright{
	padding:15px 0;
	p{
		width:960px;
		margin:0 auto;
		font-size:90%;
	}
}
.area{
	display:block;
	width:62px;
	height:22px;
	background-image:url('#{$img_base_url}/img/sprite.png?#{$img_hash}');
	background-color:#fff;
	background-repeat:no-repeat;
	&.tokyo{
			background-position:-147px -170px;
	}
	&.chubu{
		background-position:-211px -170px;
	}
	&.kanagawa{
		background-position:-147px -193px;
	}
	&.niigata{
		background-position:-211px -193px;
	}
	&.higashi_kantou{
		background-position:-147px -216px;
	}
	&.hokuriku_kinki{
		background-position:-211px -216px;
	}
	&.ibaraki{
		background-position:-147px -239px;
	}
	&.hyogo{
		background-position:-211px -239px;
	}
	&.touhoku{
		background-position:-147px -262px;
	}
	&.chu_shikoku{
		background-position:-211px -262px;
	}
	&.toukai{
		background-position:-147px -285px;
	}
	&.kyushu{
		background-position:-211px -285px;
	}
	&.kita_kantou{
		background-position:-147px -308px;
	}
	&.hokkaido{
		background-position:-211px -308px;
	}
}
.sidebar{
		float:left;
		width:330px;
		.bannerList{
			figure{
				margin:15px 0;
			}
		}
}
.articleList{
	float:left;
	position:relative;
	width:502px;
	margin-right:20px;
	background-color:#fff;
	&:last-of-type{
			margin-right:0;
	}
	> h1{
		position:relative;
		padding:15px 0;
		border-bottom:1px solid #D5D5D5;
		font-size:1.2em;
		font-weight:bold;
		&::after{
				@include pseudoElements(100px,3px,absolute,0,auto,auto,0);
				background-color:#249C46;
		}
	}
	.article{
		li{
			min-height:100px;
			color:#525252;
			border-bottom:1px dashed #D5D5D5;
			a{
				display:block;
				padding:15px 0;
			}
		}
		.area{
			display:table-cell;
		}
		.data{
			display:table-cell;
			vertical-align:middle;
			padding-left:10px;
		}
		p{
			margin-top:10px;
			line-height:1.4;
		}
	}
	a.moreLink{
		display:block;
		position:absolute;
		right:0;
		top:0;
		width:75px;
		height:46px;
		&::after{
			@include pseudoElements(40px,12px,absolute,13px,auto,18px,auto);
			background-image:url('#{$img_base_url}/img/sprite.png?#{$img_hash}');
			background-position:-147px -145px;
		}
	}
	&.topics,
	&.information,
	&.column{
		float:left;
		box-sizing:border-box;
		width:330px;
		border:1px solid #d5d5d5;
		> h1{
			margin-right:76px;
			padding-left:10px;
			&::after{
				left:0;
			}
		}
		.article{
			li{
				padding:0 15px;
				&:last-child{
					border-bottom:0 none;
				}
			}
		}
		a.moreLink{
			width:76px;
			height:47px;
			right:-1px;
			top:-1px;
			border:1px solid #d5d5d5;
		}
	}
	&.information{
		.article{
			li a{
				padding:19px 0;
			}
			.data{
				padding-left:0;
			}
		}
	}
	&.special{
		float:none;
		width:330px;
		background-color:#040404;
		color:#fff;
		> h1{
			padding-left:10px;
			border-bottom:1px solid #1A1A1A;
			font-weight:normal;
			&::after{
				left:0;
			}
		}
		.article{
			li{
				padding:0 15px;
				&:not(:last-child){
					border-bottom:1px solid #1A1A1A;
				}
				&:last-child{
					border-bottom:0 none;
				}
				a{
					color:#fff;
				}
				.specialImg,
				.specialStr{
					float:left;
				}
				.specialStr{
					width:200px;
					margin-left:10px;
					&.no_image{
						width:100%;
						margin-left:0;
					}
				}
			}
			.data{
				display:block;
				padding-left:0;
			}
		}
		a.moreLink{
			border:1px solid #1A1A1A;
		}
	}
	&.column{
		margin:15px 0;
		.article{
			li a{
				padding:19px 0;
			}
			.data{
				padding-left:0;
			}
		}
	}
	&.blockInfo{
		box-sizing:border-box;
		width:330px;
		margin:15px 0;
		border:1px solid #d5d5d5;
		> h1{
			padding-left:15px;
		}
		> article{
			padding:15px;
			> p{
				margin-bottom:1.1em;
				&:last-of-type,
				&:only-of-type{
					margin-bottom:0;
				}
			}
			a{
				color:#1FB36C;
			}
		}
	}
}
.pager{
	border-width:1px 0;
	border-style:solid;
	border-color:#D5D5D5;
	a[href]{
		color:#29B064;
	}
	li{
		position:relative;
		display:inline-block;
		width:512px;
		a{
			display:block;
			padding:25px 0;
		}
	}
	.prev a[href]::before,
	.next a[href]::after{
		@include pseudoElements(9px,16px,relative,auto,auto,3px,auto,auto,inline-block);
		background-image:url('#{$img_base_url}/img/sprite.png?#{$img_hash}');
		background-position:-225px -143px;
	}
	.prev a[href]{
		&::before{
			margin-right:15px;
		}
	}
	.next a[href]{
		text-align:right;
		&::after{
			margin-left:15px;
			background-position:-242px -143px;
		}
	}
}
.popupMenu{
	display:none;
	position:absolute;
	left:5px;
	top:90px;
	width:160px;
	height:auto;
	background-color:#fff;
	border:3px solid #10a75a;
	z-index:2;
	&::after,
	&::before{
		content:" ";
		position:absolute;
		left:50%;
		bottom:100%;
		height:0;
		width:0;
		border:solid transparent;
		pointer-events:none;
	}
	&::after{
		margin-left:-5px;
		border-width:5px;
		border-color:rgba(255, 255, 255, 0);
		border-bottom-color:#ffffff;
	}
	&::before{
		margin-left: -9px;
		border-width: 9px;
		border-color: rgba(16, 167, 90, 0);
		border-bottom-color: #10a75a;
	}
	li{
		position:relative;
		width:100% !important;
		height:auto !important;
		border-bottom:1px dashed #d5d5d5;
		&::before{
			background:transparent !important;
		}
		&:last-child{
			border-bottom:0 none;
		}
		a{
			display:block;
			box-sizing:border-box;
			height:auto !important;
			padding:8px 8px 8px 20px;
			color:#29B064;
			&::before{
				@include pseudoElements(6px,11px,absolute,8px,auto,50%,auto);
				margin-top:-5px;
				background-image:url('#{$img_base_url}/img/sprite.png?#{$img_hash}');
				background-position:-196px -145px;
				background-repeat:no-repeat;
			}
		}
	}
}
// WP Social Bookmarking Light CSS Overwrite
.wp_social_bookmarking_light{
	border:0 !important;
	padding:10px 0 20px 0 !important;
	margin:0 !important;
	div{
		float:left !important;
		border:0 !important;
		padding:0 !important;
		margin:0 5px 0px 0 !important;
		min-height:30px !important;
		line-height:18px !important;
		text-indent:0 !important;
	}
	img{
		border:0 !important;
		padding:0;
		margin:0;
		vertical-align:top !important;
	}
}
.wp_social_bookmarking_light_clear{
	clear:both !important;
}
#fb-root{
	display:none;
}
.wsbl_twitter{
	width:69px;
}
.wsbl_facebook_like iframe{
	width:118px !important;
	max-width:none !important;
}
