@charset "utf-8";

/* editor style */
.mainArticle{
	.articleBody{
		// 投稿内容用のスタイル
		line-height:1.6;
		h1,h2,h3,h4,h5,h6{
			margin:0 0 30px;
			padding:10px;
			border-left:3px solid #02A858;
			border-bottom:1px dashed #DDD;
			font-size:16px;
			font-weight:bold;
			color:#333;
		}
		a{
			color:#1FB36C;
		}
		p{
			margin-bottom:1.6em;
			&:last-of-type{
				margin-bottom:0;
			}
			+ h1,
			+ h2,
			+ h3,
			+ h4,
			+ h5,
			+ h6{
				margin-top:30px;
			}
		}
		table{
			margin-bottom:1.6em;
		}
		pre{
			display:block;
			margin:1.6em 0;
			word-wrap:break-word;
			font-family:'Osaka−等幅','ＭＳ ゴシック','monospace';
			code{
				display:block;
				margin:0 1.6em;
				padding:1.6em;
				background-color:#FAFAFA;
				border:1px solid #BBB;
				list-style:decimal outside;
				font-family:"Courier New", Courier, monospace;
			}
			&:last-child,
			&:only-child{
				margin-bottom:0;
			}
		}
		blockquote{
			margin:1.6em 0;
			padding:1.6em;
			background-color:#F0F0F0;
			&:last-child,
			&:only-child{
				margin-bottom:0;
			}
		}
		strong,b{
			font-weight:bold;
		}
		em{
			font-style:italic;
		}
		ul,ol{
			margin-left:20px;
		}
		table{
			border:1px solid #CBCBCB;
			th,td{
				padding:5px;
				border:1px solid #CBCBCB;
			}
		}
		aside{
			margin: 1.6em 0 1.6em 1.6em;
			padding: 0.5em 1em;
			border-left: 3px solid #F0F0F0;
			&:last-child,
			&:only-child {
				margin-bottom: 0;
			}
		}
	}
}
