@charset "utf-8";
@import "common";

/* purpose parts */
// indexのcontents
#top{
	&.contents{
		background:url('#{$img_base_url}/img/content_bg.jpg?#{$img_hash}') 50% 0 repeat-x #FAF7F9;
	}
	.slideContent{
		position:relative;
		top:15px;
		width:1027px;
		height:400px;
		margin:0 auto;
		box-sizing:border-box;
		border:5px solid #fff;
		.slideInner{
			position:relative;
			width:1017px;
			height:390px;
			overflow:hidden;
			ul{
				position:absolute;
				left:0;
				top:0;
			}
			li{
				display:inline-block;
				position:relative;
				width:1017px;
				height:390px;
				&:not(:first-child){
					margin-left:-4px;
				}
				p{
					position:absolute;
					left:0;
					bottom:0;
					box-sizing:border-box;
					width:1017px;
					height:55px;
					padding:0 15px;
					background-color:rgba(00,00,00,0.7);
					font-size:2em;
					color:#fff;
					line-height:55px;
				}
				.data{
					display:block;
					float:left;
					margin:0 15px 0 0;
					font-size:0.5em;
					
				}
			}
		}
		.prev,
		.next{
			display:block;
			width:30px;
			height:60px;
			position:absolute;
			top:50%;
			margin-top:-25px;
			background-image:url('#{$img_base_url}/img/sprite.png?#{$img_hash}');
			background-repeat:no-repeat;
		}
		.prev{
			left:-35px;
			background-position:-148px -506px;
		}
		.next{
			right:-35px;
			background-position:-185px -506px;
		}
		.slidePagiNation{
			height:15px;
			margin-top:15px;
			text-align:center;
			a{
				display:inline-block;
				width:15px;
				height:15px;
				margin-right:10px;
				background-image:url('#{$img_base_url}/img/sprite.png?#{$img_hash}');
				background-repeat:no-repeat;
				background-position:-260px -96px;
				&.current{
					background-position:-261px -119px;
				}
			}
		}
	}
	.mainArticle{
		margin-top:50px;
		padding:10px 0 25px;
		background-color:#fff;
		border-bottom:1px solid #D5D5D5;
	}
	.mainArticleInner{
		width:1028px;
		margin:0 auto;
	}
	.subArticle{
		width:1028px;
		margin:18px auto 0;
	}
	.subArticleMain{
		float:left;
	}
	.subArticleMain{
		width:680px;
		margin-right:18px;
	}
	.blockInfo{
		position:relative;
		box-sizing:border-box;
		width:680px;
		height:467px;
		margin-bottom:18px;
		border:1px solid #D5D5D5;
		background-color:#fff;
		> h1{
			position:absolute;
			width:140px;
			height:50px;
			padding:15px 0 15px 20px;
			font-size:1.2em;
			font-weight:bold;
			&::after{
				@include pseudoElements(140px,3px,absolute,0,auto,46px,auto);
				background-color:#249C46;
			}
		}
	}
}
// index以外のcontents
.contents:not(#top){
	border-top:1px solid #D5D5D5;
	background-color:#FAF7F9;
	.mainArticle{
		width:1028px;
		margin:0 auto;
		> h1{
			position:relative;
			padding:40px 0 15px;
			border-bottom:1px solid #D5D5D5;
			font-size:1.7em;
			font-weight:bold;
			&::after{
				@include pseudoElements(160px,3px,absolute,0,auto,auto,0);
				background-color:#249C46;
			}
			.date{
				display:inline-block;
				padding-left:20px;
				color:#36B36A;
				font-size:14px;
				font-weight:normal;
			}
		}
	}
	// 記事
	.single{
		margin-top:30px;
		a{
			color:#29B064;
		}
		h2{
			position:relative;
			border:1px solid #D5D5D5;
			color:#262626;
			.title{
				display:block;
				padding:15px;
				border-left:3px solid #249C46;
				background-color:#fff;
				font-size:1.5em;
				font-weight:bold;
			}
			.date{
				position:absolute;
				right:15px;
				top:50%;
				width:200px;
				margin-top:-7px;
				text-align:right;
			}
		}
		aside{
			padding:20px 0;
			border-bottom:1px solid #D5D5D5;
			color:#A3A3A3;
		}
		.articleBody{
			margin:25px 0;
			color:#515151;
		}
	}
	// 記事リスト
	.list{
		margin-top:30px;
		a{
			color:#29B064;
		}
		li{
			display:block;
			margin-bottom:10px;
			border:1px solid #D5D5D5;
			&:last-child{
				margin-bottom:60px;
			}
			a{
				position:relative;
				display:block;
				padding:20px;
				background-color:#fff;
				color:#1F1F1F;
				&::before{
					@include pseudoElements(9px,16px,absolute,auto,20px,50%,auto);
					margin-top:-7px;
					background-image:url('#{$img_base_url}/img/sprite.png?#{$img_hash}');
					background-position:-209px -143px;
					background-repeat:no-repeat;
				}
				&:hover{
					background-color:#45B768;
					color:#fff;
					&::before{
							background-position:-254px -143px;
					}
				}
			}
		}
		.area{
			position:absolute;
			left:20px;
			top:50%;
			margin-top:-10px;
		}
		dl{
			margin-left:70px;
		}
		dt,
		dd{
			display:table-cell;
		}
		dt{
			width:220px;
			vertical-align:middle;
		}
		dd{
			width:670px;
			font-size:1.3em;
		}
		&.information{
			dl{
				margin-left:0;
			}
		}
	}
}
#frontpage{
	.mainArticle{
		margin-top:40px !important;
	}
	.articleLeft{
		float:left;
		width:680px;
		margin-right:18px;
		> h1{
			position:relative;
			margin-bottom:15px;
			padding:0 0 15px;
			border-bottom:1px solid #D5D5D5;
			font-size:1.7em;
			font-weight:bold;
			&::after{
				@include pseudoElements(160px,3px,absolute,0,auto,auto,0);
				background-color:#249C46;
			}
		}
	}
	.articleListWrapper{
		margin-top:20px;
		.articleList{
			box-sizing:border-box;
			width:330px;
			border:1px solid #D5D5D5;
			> h1{
				padding-left:10px;
			}
			li{
				padding:0 15px;
				&:last-child{
					border-bottom:0 none;
				}
			}
			a.moreLink{
				width:76px;
				height:47px;
				right:-1px;
				top:-1px;
				border:1px solid #d5d5d5;
			}
		}
	}
	.articleBody{
		padding:20px;
		border:1px solid #D5D5D5;
		background-color:#fff;
		color:#525252;
		/*
		> h2{
			margin-bottom:20px;
			padding:10px;
			border-left:3px solid #249C46;
			border-bottom:1px dashed #D5D5D5;
			color:#262626;
			font-size:1.2em;
			font-weight:bold;
		}
		*/
	}
}

#special{
	.list li{
		position:relative;
		padding:20px;
		background-color:#fff;
		h2{
			margin-bottom:15px;
			padding-bottom:15px;
			border-bottom:1px dashed #D5D5D5;
			font-size:1.2em;
			color:#2B8D28;
		}
		.thumb{
			float:left;
			width:150px;
		}
		.articleBody{
			float:left;
			width:806px;
			padding:0 0 0 20px;
			p{
				height:90px;
				overflow:hidden;
			}
			a,
			a:hover{
				width:90px;
				padding:15px;
				background-color:#45B768;
				color:#fff;
			}
			a{
				position:absolute;
				right:20px;
				bottom:20px;
			}
			a::before{
				right:auto;
				background-position:-254px -143px;
			}
			a span{
				padding-left:15px;
			}
			&.no_image{
				float:none;
				width:100%;
				height:150px;
				padding-left:0;
			}
		}
	}
}

@import "editor_style";